.navbar{
  display: flex;
  float: left;
  gap: 15px;
  padding: 10px;
  /* width: 35%; */
}

.catalogs_table {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 10px;
}

